{
  "reporter": [
    "lcov",
    "text",
    "text-summary"
  ],
  "include": [
    "**/*.js"
  ],
  "exclude": [
    "test/*",
    "dist/*",
    "examples/*",
    "**/*.spec.js"
  ],
  "require": [
    "babel-register"
  ],
  "all": true,
  "sourceMap": false,
  "instrument": false
}
